# Install as: /etc/udev/rules.d/89-automount-usb-drives.rules

# http://superuser.com/questions/53978/ubuntu-automatically-mount-external-drives-to-media-label-on-boot-without-a-u?lq=1

# ADD rule: if we have a valid ID_FS_LABEL_ENC, and it's USB, mkdir and mount.
ENV{ID_FS_LABEL_ENC}=="?*",   ACTION=="add",      SUBSYSTEMS=="usb", \
         RUN+="/usr/local/sbin/udev-auto-mount.sh %k"

# REMOVE rule: lazy unmount then rmdir the mount point.
ENV{ID_FS_LABEL_ENC}=="?*",   ACTION=="remove",      SUBSYSTEMS=="usb", \
         RUN+="/usr/local/sbin/udev-auto-unmount.sh %k"
